.body {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 420px;
    margin: auto;
    margin-top: 70px;
    background-color: black;
}

.display {
    border: 1px solid gray;
    border-radius: 10px;
    width: 375px;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    color: white;
    background-color: rgb(34, 31, 31);

}


.display p {
    font-size: 30px;
    font-weight: bold;

}

.button-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 10px;
    width: 350px;
    margin-bottom: 10px;


}

.button-side button {
    width: 90px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    margin-left: 5px;
    cursor: pointer
}

button:hover {
    background-color: rgb(170, 169, 169);
}

button {
    background-color: gray;
    color: white
}

.symbol {
    background-color: rgb(1, 78, 88);
}

.symbol:hover {
    background-color: rgb(2, 105, 119);
}

.red {
    background-color: #a52a2a;

}

#clear {
    grid-column: 1/3;
    grid-row: 1;
    width: 98%
}

.red:hover {
    background-color: #c43434;
}



.orange {
    background-color: orange;
}

.orange:hover {
    background-color: rgb(247, 188, 80);
}